.product__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product__left {
    width: 30%;
}

.product__right {
    width: 70%;
}


.product__image {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.minusButton {
    width: 5%;
    height: 50%;
}

.plusButton {
    width: 5%;
    height: 50%;
}

.basketproductCount {
    display: flex;
    justify-content: center;
    align-items: center;
}