.forgotpassword {
    /* padding: 140px;
    padding-left: 450px; */
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    width: 30%;
}

/* .forgotpasswordForm {
    display: flex;
    justify-content: center;
} */